<!DOCTYPE html>
<!-- http://iamcheyan.com/ -->
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>🧐&nbsp;&nbsp;&nbsp;IAM CHEYAN</title>
<meta name="msvalidate.01" content="0499E923E38639F1D120EAAA3953A529" />	<!--分类bing-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="keywords" content="澈言">
<meta name="description" content="澈言的个人网站">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="static/che.css">
<script src="static/jquery3.3.1.min.js"></script>
<script src="static/script.js"></script>
<link rel="icon" href="static/favicon.ico" type="image/x-icon">
<!-- baidu tongji -->
<script>
	var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?e94a60623909cac4845ad4a9b48d1cd9";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
</head>

<body style="background-image:url(http://iamcheyan.com//uploadfile/image/20200318/62dba4263.jpg)">



<div class="page">
	<!-- 头部 -->
	<nav class="navbar" role="navigation">
		<h1><a href="http://iamcheyan.com/">Iam cheyan .com</a></h1>
		<ul class="a">
			<li class="i">
				<a href="app/pelican/blog/">BLOG 博客</a>
			</li>
			<li class="i">
				<a href="javascript:;" class="at " id="go_book" data-box=".book-list">出版作品</a>
			</li>
			<li class="menu i">
				<a href="javascript:;">归档项目</a>
				<ul class="ul">
					<li style="display:none"><a href="javascript:;" class="at" id="go_project"
							data-box=".project">归档项目</a></li>
					<li><a href="app/veikin/index.html" target="_blank">VEIKIN杂志</a></li>
					<li><a href="app/ganline/index.html" target="_blank">橄榄传媒</a></li>
					<li style="display:none"><a href="http://wytype.com/" target="_blank">文悦科技</a></li>
					<li style="display:none"><a href="http://meidubook.net/" target="_blank">美读文化</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<header class="box">
		{ cheyan }
	</header>
	<div class="box about">
		<div class="text">
			<h3>关于我<b>About Me</b></h3>
			<div class="con">
				<che class="che">
					<img class="photo" src="static/che.png" alt="澈言">
					<img src="static/b1.png" alt="澈言签名" class="b1">
				</che>
				<div class="p link">
					{ about_me }
				</div>
			</div>
		</div>
		<div class="contact">
			<h3>在这里找到我<b>Contact</b></h3>
			<p class="link">
				{ contact }
			</p>
		</div>
	</div>
	<div class="box book-list" id="book-list" data-box=".book">
		<h3>出版作品<b>My achievements</b></h3>
		<div class="c">
			{ book }
		</div>
		<p class="link">以上同名电子书已在 <a
				href="http://www.ireader.com/index.php?ca=search.index&amp;keyword=%E6%BE%88%E8%A8%80"
				target="_blank" title="跳转到：掌阅">掌阅</a>、 <a
				href="https://www.amazon.cn/s?k=%E6%BE%88%E8%A8%80&amp;i=digital-text&amp;__mk_zh_CN=%E4%BA%9A%E9%A9%AC%E9%80%8A%E7%BD%91%E7%AB%99&amp;ref=nb_sb_noss"
				target="_blank" title="跳转到：KINDLE">KINDLE</a>、 <a href="https://weread.qq.com/" target="_blank"
				title="跳转到：微信读书">微信读书</a>、<a
				href="https://yuedu.baidu.com/ebook/e33fa5ef4793daef5ef7ba0d4a7302768e996fe0?fr=aladdin&amp;key=%E8%BF%99%E4%B8%96%E7%95%8C%E6%AD%A3%E5%9C%A8%E9%81%97%E5%BF%98%E4%B8%8D%E6%94%B9%E5%8F%98%E7%9A%84%E4%BA%BA"
				target="_blank" title="跳转到：百度阅读">百度阅读</a>、<a href="http://www.duokan.com/author/103059/1-1"
				target="_blank" title="跳转到：多看">多看</a> 等各平台同步上架 <br>请在相关APP中自行搜索下载。
		</p>
	</div>
	<div class="box project">
		<h3>参与重点图书及影视项目<b>Movies and books</b></h3>
		<ul class="b">
			{project}
		</ul>
		<ul class="c">
			{project}
		</ul>
	</div>
	<div class="box reports">
		<h3 class="go_blog link">历年活动及新闻报道&nbsp;&nbsp; | <a href="http://iamcheyan.com/app/blog/"
				target="_blank">博客</a>
			<b>Events and reports&nbsp;&nbsp; | <a href="http://iamcheyan.com/app/blog/"
					target="_blank">Blog</a></b>
		</h3>
		{news}
		</div>
	</div>
</div>
<!-- 底部 -->
<footer id="footer">
	<div class="c">
		<div class="other">
			<div class="code">
				<img src="static/2code.gif" alt="二维码" class="img">
			</div>
			<div class="link-list">
				<a href="http://www.duokan.com/author/103059/1-1" target="_blank" title="去多看阅读我的电子书">
					<img src="static/80cca86b0.png" alt="去多看阅读我的电子书">
				</a>
				<a href="https://www.amazon.cn/s?k=%E6%BE%88%E8%A8%80&amp;i=digital-text&amp;__mk_zh_CN=%E4%BA%9A%E9%A9%AC%E9%80%8A%E7%BD%91%E7%AB%99&amp;ref=nb_sb_noss"
					target="_blank" title="在亚马逊Kindle买我的电子书">
					<img src="static/9ff847c91.gif" alt="在亚马逊Kindle买我的电子书">
				</a>
				<a href="https://s.taobao.com/search?q=%E6%BE%88%E8%A8%80&amp;imgfile=&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;spm=a21bo.2017.201856-taobao-item.1&amp;ie=utf8&amp;initiative_id=tbindexz_20170306"
					target="_blank" title="在淘宝上买我的书">
					<img src="static/5699efcb5.gif" alt="在淘宝上买我的书">
				</a>
				<a href="https://book.jd.com/writer/%E6%BE%88%E8%A8%80_1.html" target="_blank" title="在京东上买我的书">
					<img src="static/ee4855ff7.gif" alt="在京东上买我的书">
				</a>
				<a href="http://www.ireader.com/index.php?ca=search.index&amp;keyword=%E6%BE%88%E8%A8%80"
					target="_blank" title="在掌阅上阅读我的电子书">
					<img src="static/f900d2ac8.png" alt="在掌阅上阅读我的电子书">
				</a>
				<a href="http://search.dangdang.com/?key2=%B3%BA%D1%D4&amp;medium=01&amp;category_path=01.00.00.00.00.00"
					target="_blank" title="在当当网上购买我的书">
					<img src="static/2c950a750.gif" alt="在当当网上购买我的书">
				</a>
				<a href="https://www.ximalaya.com/youshengshu/31077210/" target="_blank"
					title="在喜马拉雅收听我的电子书《王牌创业者：风口游戏》">
					<img src="static/52c2e57e8.png" alt="在喜马拉雅收听我的电子书《王牌创业者：风口游戏》">
				</a>
			</div>
		</div>
		<div class="icp">
			<span>
				© 2010 - { current_time }&nbsp;
				<a href="http://iamcheyan.com/">Cheyan</a> All Rights Reserved&nbsp;
				<a href="http://beian.miit.gov.cn/" target="_blank">
					京ICP备19045254-1号</a>
			</span>
		</div>
	</div>
</footer>
</body>
</html>